In [1]:
import numpy as np
import pandas as pd

In [2]:
# For displaying all the cells
# pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
feb02 = pd.read_excel('media/feb-02-2020-mauban.xlsx',sheet_name='PDFTables.com')

In [4]:
feb02.rename(columns={'Detailed POS Sales Report': 'ID'}, inplace=True)
feb02.rename(columns={'Unnamed: 7': 'Qty'}, inplace=True)

In [5]:
# remove records with non-integer IDs
feb02 = feb02[feb02['ID'].apply(lambda x: isinstance(x, int))]

In [6]:
feb02

,ID,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Qty,29/12/2020,Unnamed: 9,Unnamed: 10,Unnamed: 11
5,1224,NaN,MANGOSTEEN,NaN,MX3,COFFEE,NaN,10,18,180,NaN,NaN
6,988,ONE,NaN,TOUCH,SELECT,STRIPS,-,1,30,30,NaN,NaN
7,1004,NaN,ONE TOUCH,NaN,LANCET ULTRA,NaN,NaN,1,NaN,NaN,NaN,NaN
8,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210,NaN,NaN,NaN
10,988,ONE,NaN,TOUCH,SELECT,STRIPS,-,1,30,30,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
804,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105,NaN
806,144,NaN,LOSARTAN,NaN,NaN,T50MG,NaN,4,NaN,4.5,18,NaN
807,1504,NaN,GREEN,NaN,NaN,CROSS,0.7,250ML,1,40,40,NaN
808,1251,NaN,CLOPIDOGREL,NaN,NaN,NaN,T75MG,(DBRL),4,9.5,38,NaN
811,195,NaN,NaN,NaN,PARA,S125/60,NaN,(FEVERGAN),1,42,NaN,42